# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
_school48.code-workspace
public/*.pdf
public/*.xlsx


# Runtime files
data
public/uploads/payments
public/session1